<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

<!-- This bean is for client -->
	
	<bean autowire="default" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" dependency-check="default" id="rmiSpringService" lazy-init="default">
		<property name="serviceUrl">
			<value>rmi://10.20.12.242:9000/RMISpring</value>
		</property>
		<property name="serviceInterface">
			<value>org.common.RemoteThings</value>
		</property>
	</bean>
	
	<bean autowire="default" class="org.sample.Main" dependency-check="default" id="RMISpringClient" lazy-init="default">
		<property name="rmiSpringService">
			<ref local="rmiSpringService"/>
		</property>
	</bean>
</beans>