<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="remoteService" class="org.sample.RemoteThingsImpl"/>
	
	<bean id="serviceExporter"
		class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName">
			<value>RMISpring</value>
		</property>
		<property name="service">
			<ref local="remoteService"/>
		</property>
		<property name="serviceInterface">
			<value>org.common.RemoteThings</value>
		</property>
		<property name="registryPort">
			<value>9000</value>
		</property>
		<property name="servicePort">
			<value>9001</value>
		</property>	
	</bean>	
</beans>